@media (min-width: 768px) {
    .custom_input {
        max-width: 50%;
    }
}

body::before{
    display:block;
    content:'';
    height:60px;
}

.map-css{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
